SECRET_KEY=secrete-key
ACCESS_TOKEN_EXPIRE_MINUTES=60
COOKIE_SECURE=false

# PostgreSQL database connection.
DATABASE_ENGINE=postgresql
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=freshlink
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSL_MODE=prefer

# or
DATABASE_URL=postgresql://username:password@host:port/database?sslmode=require

CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:5500
